<div class="form-group">
    <label for="title">Title</label>
    <input required type="text" id="title" name="title" class="form-control">
    <label for="Description">Description</label>
    <input required type="text" id="Description" name="Description" class="form-control">
    <label for="Article">Article</label>
    <input required type="text" id="Article" name="Article" class="form-control">

</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>